<footer class="py-3 mx-0 mx-md-auto">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-7 footer_ele">
              <ul class="footer-menu">
                  <li class="f-label">WBG External Sites:</li>
                  <li><a href="http://www.worldbank.org" target="_blank">World Bank</a></li>
                  <li><a href="http://www.miga.org" target="_blank">MIGA</a></li>
                  <li><a href="http://www.ifc.org" target="_blank">IFC</a></li>
                  <li><a href="http://www.worldbank.org/icsid/" target="_blank">ICSID</a></li>
              </ul>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-5 text-md-right footer_ele">
              <ul class="footer-menu">
                  <li><a href="http://trs" target="_blank">Time (TRS)</a></li>
                  <li><a href="http://lars" target="_blank">Leave (LARS)</a></li>
                  <li><a href="http://travel.worldbank.org" target="_blank">Travel</a></li>
                  <li><a href="http://wifi" target="_blank">Wifi &amp; Password</a></li>
              </ul>
          </div>
      </div>
      <div class="line-sep"></div>
      <div class="row">
          <div class="col-sm-12 col-md-3 d-none d-md-block"><i class="master-sprite footer-logo"></i></div>
          <div class="col-sm-12 col-md-9 text-md-right">
              <ul class="footer-menu contact">
                  <li>Emergency Contact Number (US) (202) 458-8888</li>
                  <li>© 2017 The World Bank Group, All Rights Reserved</li>
              </ul>
          </div>
      </div>
  </div>
</footer>
