
<div class="list_expand_menu">
    <a title="toggle-menu" id="expand-menu" href="#">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </a>
</div>
<ul class="nav nav-tabs" role="navigation">
    <!-- <div *ngFor="let data of monitoringData">
    <li class="nav-item">
        <a href="#OneSpace" class="nav-link active" aria-controls="">
        <i class="fa fa-{{data.icon}}" aria-hidden="true"></i>
        <span class="left_nav_txt_hidden">{{data.iconTitle}}</span>
        </a>
    </li>
  </div> -->
    <li class="nav-item">
      <a href="#" class="nav-link active" aria-controls="">
      <i class="fa fa-car" aria-hidden="true"></i>
      <span class="left_nav_txt_hidden">commitment Authority</span>
      </a>
  </li>
    <li class="nav-item">
        <a href="#productivity" class="nav-link" data-toggle="tab" role="tab" aria-controls="">
        <i class="fa fa-binoculars" aria-hidden="true"></i>
        <span class="left_nav_txt_hidden">Productivity</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="#communications" class="nav-link" data-toggle="tab" role="tab" aria-controls="">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        <span class="left_nav_txt_hidden">Communications</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="#collaboration" class="nav-link" data-toggle="tab" role="tab" aria-controls="">
        <i class="fa fa-building" aria-hidden="true"></i>
        <span class="left_nav_txt_hidden">Collaboration</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="#news" class="nav-link" data-toggle="tab" role="tab" aria-controls="">
        <i class="fa fa-file" aria-hidden="true"></i>
        <span class="left_nav_txt_hidden">News</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="#projects" class="nav-link" data-toggle="tab" role="tab" aria-controls="">
        <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
        <span class="left_nav_txt_hidden">Projects</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="#analytics" class="nav-link" data-toggle="tab" role="tab" aria-controls="">
        <i class="fa fa-plane" aria-hidden="true"></i>
        <span class="left_nav_txt_hidden">Analytics</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="#approvals" class="nav-link" data-toggle="tab" role="tab" aria-controls="">
            <i class="fa fa-check" aria-hidden="true"></i>
        <span class="left_nav_txt_hidden">Approvals</span>
        </a>
    </li>
</ul>
