<section id="subHeader">
  <div class="container">
      <div class="row ">
          <div class="sub_header_left col-12 col-sm-12 col-md-6">
              <div class="breadcrumb_block">
                  <ol class="breadcrumb breadcrumb-right-arrow">
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                      <li id="subHeaderItem" class="breadcrumb-item"><a href="#"></a></li>
                      <li id="leftNavItem" class="breadcrumb-item"><a href="#"></a></li>
                  </ol>
              </div>

              <div class="breadcrumb_title_block">
                <span id="toggleBtnLeftNav" class="toggle_btn_left_nav d-md-none">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </span>
                <h4 id="subHeaderTitle">IDA Desk</h4>
                <span class="toggle_btn_sub_nav_item d-md-none">
                    <a href="#" ><div id="toggleBtnSubNavItem" class="fa fa-chevron-right rotate"></div></a>
                </span>
            </div>
            <div id="qwerty" class="asdfgh_block">
              <ul class="list-unstyled" >
                <!-- <li class="nav-item"><a class="nav-link active" href="#">monitoring</a></li>
                <li class="nav-item"><a class="nav-link" href="#">transactions</a></li>
                <li class="nav-item"><a class="nav-link" href="#">reports</a></li> -->

                <li class="nav-item" *ngFor="let data of subHeaderData">
                    <a routerLinkActive="active" class="nav-link" routerLink={{data.id}}>{{data.id}}</a>
                  </li>
              </ul>
            </div>
              <!-- <h4 class="header-title">IDA Desk</h4>
              <button class="header-content-toggler collapsed btn btn-link d-lg-none" type="button" data-toggle="collapse" data-target="#header-content">
                      <span class="fas fa-angle-right fa-2x"></span>
                  </button>
              <div id="header_content" class="collapse navbar-collapse header_block">
                  <div class="container">
                      <ul class="nav list-unstyled">
                          <li class="nav-item active"><a (click)="transformLeftNavData($event.target.text)" class="nav-link" href="#monitoring">monitoring</a></li>
                          <li class="nav-item"><a (click)="transformLeftNavData($event.target.text)" class="nav-link" href="#reports">transactions</a></li>
                          <li class="nav-item"><a (click)="transformLeftNavData($event.target.text)" class="nav-link" href="#transactions">reports</a></li>
                      </ul>
                  </div>
              </div> -->
          </div>
          <div class="sub_header_right col-12 col-sm-12 col-md-6">
              <ul class="list-unstyled">
                  <li class="take_a_tour_blk">
                      <a href="#">
                          <h6 class="page-actions">Take A tour</h6>
                          <span><i class="fa fa-play-circle fa-lg" aria-hidden="true"></i></span>
                      </a>
                  </li>
                  <li class="page-actions">
                      <a href="#">
                          <span>
                              <i class="fa fa-file-text fa-2x" aria-hidden="true"></i>
                          </span>
                          <h6>Add Page</h6>
                      </a>
                  </li>
                  <li class="page-actions">
                      <a href="#">
                          <span>
                              <i class="fa fa-file-text fa-2x" aria-hidden="true"></i>
                          </span>
                          <h6>Add Widget</h6>
                      </a>
                  </li>
                  <li class="page-actions">
                      <a href="#">
                          <span>
                              <i class="fa fa-file-text fa-2x" aria-hidden="true"></i>
                          </span>
                          <h6>Reset</h6>
                      </a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</section>
